/* Overrule top margin bootstrap */
h2 {
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}

.panel-button {
  margin-top: 0px !important;
}

/* Tree view padding */
.list-group-item {
  padding: 4px 10px !important;
  font-size: 12px;
}

/* Input form fields */
.code {
  font-family: monospace;
}
.form_label {
  width: 150px !important;
  margin-right: 20px;
  display: inherit;
}
.form_input {
  width: 250px !important;
  display: inherit;
}
select {
  padding: .5em .75em;
  vertical-align: middle;
  font-size: 12px;
  font-family: inherit;
  font-weight: inherit;
  border: 1px solid #aaa;
  border-radius: 2px;
  width:270px !important;
}

/* Messages */
/*  based on http://isabelcastillo.com/error-info-messages-css */
body {
  position: relative;
}

/* Debug log table */
table#logs tr th.datetime,
table#logs tr td.datetime {
  border-top: 1px solid #ddd;
  vertical-align: top;
  padding: 3px;
  font-size:12px;
  width:175px;
  white-space: nowrap;
}
table#logs tr th.entry,
table#logs tr th.data,
table#logs tr td.entry {
  border-top: 1px solid #ddd;
  vertical-align: top;
  padding: 3px;
  font-size:12px;
  white-space: normal;
  word-break: break-all;
}

table#logs tr td.data {
  font-family: monospace;
  border-top: 1px solid #ddd;
  vertical-align: top;
  padding: 3px;
  font-size:12px;
  white-space: normal;
  word-break: break-all;
}

/* logging popout dialog */
.popout-dialog .modal-dialog {
  width: 440px;
}
